/*
Custom Css
*/

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('..webfonts/open-sans-hebrew-bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.navbar{
    background-color: #000000 !important;
    color: #000000 !important;
}
.nav-link{
    color: #ffffff !important;
    font-size: 20px !important;
}

.text-white{
    color: #ffffff !important;
}
.large-icons{
    font-size: 42px;
    width: 42px;
    height: 42px;
}
.navbar-collapse {
    background: black;
    z-index: 2;
    padding: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #000000;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    margin-left: 29px;
    display: none;
}
#template-mo-zay-hero-carousel .carousel-control-next i, #template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #000000 !important;
    font-size: 2.8em !important;
    display: none;
}

.carousel-indicators{
    margin-bottom: 5rem;
}

.landing-title{
    font-size: 36px;
}

.gray-text{
    color: rgb(64 64 64);
    font-size: 22px;
}

.text-footer {
    font-size: 24px
}
.text-tos {
    font-size: 16px;
    text-decoration: none;
}
.amb-img{
    transition: .5s;
    height: auto;
    max-width: 100%;
}
#eapps-tiktok-feed-4a3edbd0-35e6-4775-9037-ffad3c7bf535 > div > div > div > div.WidgetBackground__Content-sc-1ho7q3r-2.jkIBsh.WidgetBackground__ContentContainer-sc > a{    display: none;
    display: none !important;
}
.bg-dark{
    background-color: #000000 !important;
}
.bg-gray {
    background-color: #E0E0E0;
}
.mailchimp-submit{
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 8px !important;
    width: 100% !important;
    padding: 10px !important;
}
.mc-field-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-label{
    font-size: 24px ;
}
.datefield{
    width: 100% !important;
}

.carousel-img-aftercare{
    background-image: url('../img/banners/aftercare.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px)
}

.carousel-img-piercing{
    background-image: url('../img/banners/piercing.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px)
}

.carousel-img-protect{
    background-image: url('../img/banners/protect.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px)
}
.carousel-img-skincare{
    background-image: url('../img/banners/skincare.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px)
}
.product-title {
    font-size: 36px;
    font-weight: 700;
}
.blog-title {
    font-size: 24px;
    font-weight: 700;
}
.blog-copy {
    font-size: 17px;
    color: #828282;
}
.row-product{
    margin-bottom: 180px;
}
.lines-title{
    padding-top: 80px;
}
.product-subtitle {
    font-size: 14px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}
.button-product {
    padding: 3px 20px;
    font-size: 14px;
    border-radius: 8px;
}
.product-button-container {
    display: flex;
    justify-content: center;
}

.recommendations-text {
    color: #999999
}

.collapse-bg{
    background-color: #f1f1f1;
    padding: 15px;
    margin-top: 10px;
}

.collapse-title {
    color: #1e1e1e;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
}

.collapse-title:hover {
    color: #000000;
    text-decoration: none;
}

.anchor-numb {
    
    text-decoration: none;
    color: inherit;
}
.anchor-numb:hover {
    
    text-decoration: none;
    color: inherit;
}

.icon-subtitle {
    color: #000000;
    font-size: 15px;
    text-align: center;
    margin-top: 1rem;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

.text-nosotros {
    color: #828282;
    font-size: 17px;
    text-align: justify;
}

.collapse-body {
    border-top: 1px solid;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    background: #f1f1f1;
    font-size: 15px;
    padding: 30px 0px;
    border-radius: 0px 0px 30px 30px;
    
}

.product-details-title {
    font-size: 36px;
    font-weight: 700;
    color: #616161;
}
.product-details-subtitle {
    font-size: 20px;
    margin-top: 1rem; 
    color: #616161;
}

.product-description{
    text-align: justify;
}

.product-details-text {
    font-size: 15px;
    color: #616161;
}

.guarantee-title {
    font-size: 42px !important;
}

.guarantee-img{
    max-width: 70%;
    margin: auto;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
    
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
    
  > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
  }
}


section {
    background: #F4F4F4;
    padding: 50px 0;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: transparent;
}
.container-fluid {
    background-color: transparent;
}

body {
  background-image: url("../img/back.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.more-products {
    font-size: 27px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 60px;
}

.row-more-products {
    align-items: self-end;
}
.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    width: 100%;
    
    > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        
        &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
        &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
        &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
        &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
        &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
        &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
        
        &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(114, 114, 114, 0.5);}
        &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(114, 114, 114, 0.5);}
        &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(114, 114, 114, 0.5);}
        &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px rgba(114, 114, 114, 0.5);}
        &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px rgba(114, 114, 114, 0.5);}
        &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px rgba(114, 114, 114, 0.5); }
    }
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
 }

.carousel__slide {
    aspect-ratio: 1 / 1;
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
    
    figure {
        display: flex;
        margin: 0;
    }
    
    div {
        @include aspect-ratio(3, 2);
        width: 100%;
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    &.scrollable {
        overflow-y: scroll;
    }
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    margin: 0 -10px;
    
    .carousel__slides + & {
        margin-top: 20px;
    }
    
    li {        
        flex: 1 1 auto;
        max-width: calc((100% / 4) - 20px);  
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }
    
    label {
        display: block;
        @include aspect-ratio(1,1);
        
                  
        &:hover,
        &:focus {
            cursor: pointer;
            
            img {
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recommendations-carousel {
    display: flex;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    width: 100%;
    align-items: center;
    
    > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        
        &:nth-of-type(6):checked ~ .recommendations-carousel__slides .recommendations-carousel__slide:first-of-type { margin-left: -500%; }
        &:nth-of-type(5):checked ~ .recommendations-carousel__slides .recommendations-carousel__slide:first-of-type { margin-left: -400%; }
        &:nth-of-type(4):checked ~ .recommendations-carousel__slides .recommendations-carousel__slide:first-of-type { margin-left: -300%; }
        &:nth-of-type(3):checked ~ .recommendations-carousel__slides .recommendations-carousel__slide:first-of-type { margin-left: -200%; }
        &:nth-of-type(2):checked ~ .recommendations-carousel__slides .recommendations-carousel__slide:first-of-type { margin-left: -100%; }
        &:nth-of-type(1):checked ~ .recommendations-carousel__slides .recommendations-carousel__slide:first-of-type { margin-left: 0%; }
        
        &:nth-of-type(1):checked ~ .recommendations-carousel__thumbnails li:nth-of-type(1) { background-color: #363636bb; }
        &:nth-of-type(2):checked ~ .recommendations-carousel__thumbnails li:nth-of-type(2) { background-color: #363636bb; }
        &:nth-of-type(3):checked ~ .recommendations-carousel__thumbnails li:nth-of-type(3) { background-color: #363636bb; }
        &:nth-of-type(4):checked ~ .recommendations-carousel__thumbnails li:nth-of-type(4) { background-color: #363636bb; }
        &:nth-of-type(5):checked ~ .recommendations-carousel__thumbnails li:nth-of-type(5) { background-color: #363636bb; }
        &:nth-of-type(6):checked ~ .recommendations-carousel__thumbnails li:nth-of-type(6) { background-color: #363636bb; }
    }
}

.recommendations-carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
 }

.recommendations-carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
    
    figure {
        display: flex;
        margin: 0;
    }
    
    div {
        @include aspect-ratio(3, 2);
        width: 100%;
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    &.scrollable {
        overflow-y: scroll;
    }
}

.recommendations-carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    
    .recommendations-carousel__slides + & {
        margin-top: 20px;
    }
    
    li {        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px; 
        margin: 5px;
        transition: all 300ms ease-in-out;
        background-color: #1c1c1c;
    }
    
    label {
        display: block;
        @include aspect-ratio(1,1);
        
                  
        &:hover,
        &:focus {
            cursor: pointer;
            
            img {
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 991.98px) {
    /* CSS rules for screens smaller than 992px */
   .row-product {
    margin-bottom: 0px;
    margin-top:0px;
   }
   .product-title {
    margin-top: 30px;
    font-size: 30px;
   }
   .recommendations-carousel__thumbnails {
    li {
        width: 40px;
        height: 40px;
    }
}
  }
